[submodule "src/content-sources/oatutor"]
	path = src/content-sources/oatutor
	url = git@github.com:CAHLR/OATutor-Content.git
[submodule "src/content-sources/OATutor-Content"]
	path = src/content-sources/OATutor-Content
	url = git@github.com:CAHLR/OATutor-Content.git
